---
#
# Supervisor configuration
#

- name: Supervisor configuration directories
  file:
    state=directory
    dest="{{supervisor_services_dir}}"
    owner="root"
    group="root"
    mode="0755"
  with_items:
    - /etc/supervisor
    - /etc/supervisor/conf.d

- name: Supervisor configuration
  template:
    src=etc/supervisor/supervisord.conf.j2
    dest={{supervisor_cfg}}
    owner="root"
    group="root"
    mode="0644"
  notify: supervisor restart

- name: Supervisor configuration
  template:
    src=etc/supervisor/conf.d/service.conf.j2
    dest="{{supervisor_services_dir}}/{{item.key}}.conf"
    owner="{{item.value.user|default('root')}}"
    group="{{item.value.user|default('root')}}"
    mode="0640"
  with_dict: supervisor_services
  notify: supervisor restart

# vi:ts=2:sw=2:et:ft=yaml
